#core_stats_table {
  color: yellow;
}

#raw_table {
  color: yellow;
}

#dhb_table {
  color: yellow;
}

#gender_table {
  color: yellow;
}

#age_table {
  color: yellow;
}

#cluster_table {
  color: yellow;
}